<!DOCTYPE html>
<html lang="en">
    <head>

        {% block head %}
            <title>Gym Manager</title>
        {% endblock %}
        <link rel="stylesheet" href="/style.css">
    </head>
    <body>
        <!-- Header serve para usar algo mais semântico -->
        <header>
            <div class="links">
                <a href="/instructors">Instructors</a>
                <a href="/members">Members</a>
            </div>

        </header>

        {% block content %}
            {%endblock%}

            <script src="/scripts.js"></script>

        </body>
    </html>